@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

body {
    font-family: 'Fascinate', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    overflow: auto;
    
}



/*---------------------------Navbar---------------------------------*/

.navbar {
    display: block;
}

.navbar-wrapper {
    text-align: right;
}

.navbar-brand{
    width: 20px;
    height: 10px;
    margin-bottom: 30px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: #70a977;
    
}

.navbar-toggler {
    border: none;
}

/*---------------------------Gameboard---------------------------------*/

.gameboard-container {
    min-height: 100vh;
}

.memorygame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 1%;
    z-index: 1;
    padding-right: 0px;
    height: 600px;
    width: 590px;
    padding-left: 8px;
}

.shadow {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 52%;
    top: 53%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 1%;
}

.cards {
    width: 120px;
    height: 120px;
    background-color: #b75353b8;
    margin: 10px;
    display: inline-flex;
    border-radius: 3%;
    transform: scale(1);
}

.cards:active {
    transform: scale(.94);
    transition: transform .1s;
}

/*---------------------------Background colors---------------------------------*/

.bg-color-gameboard {
    background-color: #70a977;
}

.bg-color-memorygame {
    background-color: #fafafa;
}

.bg-color-shadow {
    background-color: #0000001c;
}

/*---------------------------Media---------------------------------*/


@media (max-width: 576px) { 
    .memorygame {
        height: 350px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        border-radius: 1%;
        z-index: 1;
        width: 340px;
        padding-right: 0px;
        padding-left: 9px;
        padding-top: 13px;
    }
    .shadow {
        width: 350px;
        height: 350px;
        position: absolute;
        left: 52%;
        top: 53%;
        transform: translate(-50%, -50%);
        padding: 10px;
        border-radius: 1%;
    }

    .cards {
        width: 65px;
        height: 65px;
        margin: 6px;
        display: inline-flex;
        border-radius: 3%;
    }

    .navbar-brand {
        font-size: .9rem ;
    }

}

@media (min-width: 992px) {
    
}